@import '@/scss/main.scss';

.messagesContainer {
  display: flex;
  flex-direction: column;
  max-height: 100%;
}

.gridContainer {
  height: 100vh;
}

.topBarWrapper {
  display: flex;
  justify-content: space-between;
  padding: 16px 16px 16px 8px;
  align-items: center;
  border-bottom: 1px solid $borderColor;

  @media (min-width: 768px) {
    padding: 16px 16px 16px 25px;
  }

  .searchInput {
    padding: 17px 0px;
    border: none;
    width: 100%;
    font-size: 12px;
    color: $mainTextColor;
    font-weight: 600;
    line-height: 16px;

    &::placeholder {
      font-size: 12px;
      font-weight: 500;
      line-height: 16px;
      color: $grayTextColor;
    }

    &:focus {
      outline: none;
    }
  }

  svg {
    color: #4f4b5c;
    flex-shrink: 0;
  }
}

.sideNavWrapper {
  display: flex;
  flex-direction: column;
  height: fit-content;
  overflow-y: auto;
  max-height: 70vh;

  &::-webkit-scrollbar {
    width: 4px;
  }
  &::-webkit-scrollbar-track {
    background-color: transparent;
  }
  &::-webkit-scrollbar-thumb {
    background-color: transparent;
    border-radius: 50px;
  }

  &:hover {
    &::-webkit-scrollbar-track {
      background-color: #ececec;
    }
    &::-webkit-scrollbar-thumb {
      background-color: #a8abae;
    }
  }

  .userWrapper {
    padding: 8px 16px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    border-top: 1px solid $borderColor;
    text-align: left;
    cursor: pointer;

    &.noBorder {
      border-top: none;
    }

    .userBox {
      display: flex;
      gap: 8px;
      align-items: center;
      width: 100%;

      .profileBox {
        display: flex;
        gap: 8px;
        align-items: center;
        position: relative;

        .profileImg {
          border-radius: 16px;
          object-fit: cover;
          flex-shrink: 0;
        }

        .employerLogo {
          position: absolute;
          border-radius: 6px;
          object-fit: cover;
          flex-shrink: 0;
          left: 9%;
          bottom: -10px;
        }

        .nameBox {
          display: flex;
          flex-direction: column;

          .nameText {
            color: $mainTextColor;
            font-size: 14px;
            font-weight: 500;
            line-height: 20px;
            text-transform: capitalize;

            &.unread {
              color: $primaryColor;
              font-weight: 600;
            }
          }

          .msgText {
            color: #b3b1b8;
            font-size: 13px;
            font-weight: 500;
            line-height: 20px;
          }
        }
      }

      .profileBoxRequest {
        display: flex;
        gap: 8px;
        align-items: flex-start;
        position: relative;

        .profileImg {
          border-radius: 16px;
          object-fit: cover;
          flex-shrink: 0;
        }

        .employerLogo {
          position: absolute;
          border-radius: 6px;
          object-fit: cover;
          flex-shrink: 0;
          left: 9%;
          bottom: -10px;
        }

        .nameBox {
          display: flex;
          flex: 1;
          flex-direction: column;
          gap: 4px;

          .box {
            display: flex;
            align-items: center;
            justify-content: space-between;
            gap: 8px;

            .nameText {
              color: $mainTextColor;
              font-size: 14px;
              font-weight: 500;
              line-height: 20px;
              text-transform: capitalize;
              flex: 1;
            }

            .chip {
              padding: 4px 8px;
              font-size: 12px;
              line-height: 16px;
              font-weight: 600;
              height: fit-content;
              border-radius: 256px;

              &.declined {
                background-color: #fff1f1;
                color: #cf2a2a;
              }

              &.accepted {
                background-color: #e2fcf0;
                color: #0a9c55;
              }

              &.pending {
                background-color: #fff5db;
                color: #d07d00;
              }
            }
          }

          .msgText {
            color: #b3b1b8;
            font-size: 13px;
            font-weight: 500;
            line-height: 20px;
          }
        }
      }
    }

    &.active {
      background-color: #f2f4ff;
      border-left: 3px solid #071754;
    }

    &:hover {
      background-color: #f2f4ff;
    }
  }
}

.badge {
  width: 14px;
  height: 14px;
  padding: 8px;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 2px;
  background-color: $primaryColor;

  span {
    color: $white;
    font-size: 10px;
    font-weight: 500;
    line-height: 14px;
    flex-shrink: 0;
  }
}

.timeChip {
  padding: 4px 8px;
  display: flex;
  align-items: center;
  gap: 8px;
  width: fit-content;
  border-radius: 256px;
  background-color: #fff1f1;
  border: 1px solid #f08080;

  svg {
    flex-shrink: 0;
    color: $grayTextColor;
  }

  .timeText {
    font-size: 12px;
    line-height: 16px;
    color: $grayTextColor;
    font-weight: 500;
  }
}

.statusBox {
  width: 10px;
  height: 10px;
  border-radius: 100px;
  border: 2px solid $white;
  filter: drop-shadow(0px 1px 2px rgba(17, 12, 34, 0.08));

  &.available {
    background-color: #0baa60;
  }

  &.active {
    background-color: #0baa60;
  }

  &.inactive {
    background-color: $grayTextColor;
  }

  &.do-not-disturb {
    background-color: #4d0606;
  }

  &.away {
    background-color: #e09400;
  }

  &.declined {
    background-color: #cf2a2a;
  }

  &.accepted {
    background-color: #0a9c55;
  }

  &.pending {
    background-color: #d07d00;
  }
}

.userStatus {
  display: flex;
  gap: 4px;
  align-items: center;

  .statusText {
    font-size: 12px;
    text-transform: capitalize;
    line-height: 16px;
    font-weight: 500;
    color: $midBlackColor;
  }
}

.chatUserWrapper {
  display: flex;
  align-items: center;
  gap: 8px;

  button {
    padding: 0px;
  }

  svg {
    color: $mainTextColor;

    @media (min-width: 1025px) {
      display: none;
    }
  }

  .chatUserBox {
    display: flex;
    align-items: center;
    gap: 8px;

    .profileBox {
      display: flex;
      gap: 8px;
      align-items: center;
      position: relative;

      .profileImg {
        border-radius: 16px;
        object-fit: cover;
        flex-shrink: 0;
      }

      .employerLogo {
        position: absolute;
        border-radius: 6px;
        object-fit: cover;
        flex-shrink: 0;
        left: 10%;
        bottom: -10px;
      }

      .nameBox {
        display: flex;
        flex-direction: column;

        .nameText {
          color: $mainTextColor;
          font-size: 14px;
          font-weight: 700;
          line-height: 20px;
          text-transform: capitalize;
        }

        .typingText {
          font-size: 10px;
          color: $midBlackColor;
          line-height: 14px;
          font-weight: 500;
        }
      }
    }
  }
}

.toolBar {
  display: flex;
  gap: 8px;
  align-items: center;

  .closeBtn {
    svg {
      color: $midBlackColor;
      height: 18px;
      width: 18px;
    }
  }
}

.viewBtn {
  padding: 8px 10px;
  border-radius: 8px;
  box-shadow: 0px 1px 2px -1px rgba(17, 12, 34, 0.08);
  font-size: 12px;
  font-weight: 600;
  line-height: 16px;
  visibility: hidden;

  &.show {
    visibility: visible;
  }
}

.messageAreaWrapper {
  padding: 16px;
  display: flex;
  flex-direction: column;
  gap: 24px;
  height: 72vh;
  position: relative;
}

.chatNoticeBox {
  position: absolute;
  top: 0;
  left: 0;
  background-color: #0000004d;
  height: 100%;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;

  .attentionModal {
    width: 336px;
    background-color: $white;
    padding: 16px;
    border-radius: 16px;
    transition: 0.5s all;

    @media (min-width: 768px) {
      width: 400px;
    }

    .topBox {
      display: flex;
      align-items: center;
      justify-content: space-between;
      padding-bottom: 16px;
      border-bottom: 1px solid $borderColor;

      .text {
        color: $mainTextColor;
        font-size: 16px;
        font-weight: 600;
      }
    }

    .infoBox {
      padding: 16px 0px;

      .noticeText {
        font-size: 14px;
        color: $midBlackColor;
        font-weight: 500;
      }
    }
  }
}

.btnGroup {
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 8px;

  .btn {
    padding: 8px 12px;
    border-radius: 8px;
    box-shadow: 0px 1px 2px -1px rgba(17, 12, 34, 0.08);
    border: 1px solid #d02c34;
    font-weight: 600;

    &.continue {
      background-color: #d02c34;
      color: $white;
    }
    &.cancel {
      background-color: $white;
      color: #d02c34;
    }
  }
}

.mainFormBox {
  display: flex;
  flex-direction: column;
  gap: 4px;
  width: 100%;
}

.formWrapper {
  display: flex;
  align-items: center;
  justify-content: space-between;
  gap: 8px;

  .typeWrapper {
    width: 100%;
    padding: 16px 24px;
    display: flex;
    gap: 16px;
    flex: 1 0 0;
    align-items: center;
    border-radius: 32px;
    background-color: #f2f4ff;
    justify-content: space-between;

    .chatWrapper {
      width: 100%;
      display: flex;
      gap: 8px;
      align-items: center;
    }
  }

  .sendBtn {
    padding: 16px;
    background-color: #f2f4ff;

    svg {
      color: #081a7f;
    }
  }

  .chatBtn {
    padding: 0px;
    display: inline-flex;
    justify-content: center;
    align-items: center;

    svg {
      color: #081a7f;
    }
  }
}

.textarea {
  resize: none;
  width: 100%;
  border: none;
  background-color: inherit;
  color: #081a7f;
  font-size: 14px;
  font-weight: 500;
  line-height: 20px;
  overflow: hidden;

  &:focus {
    outline: none;
  }

  &::placeholder {
    color: #081a7f;
    font-size: 14px;
    font-weight: 500;
    line-height: 20px;
  }
}

.messageBox {
  height: 100%;
  overflow-y: auto;
  display: flex;
  flex-direction: column;
  gap: 24px;
  position: relative;
  padding-top: 13px;

  &::-webkit-scrollbar {
    width: 4px;
  }
  &::-webkit-scrollbar-track {
    background-color: transparent;
  }
  &::-webkit-scrollbar-thumb {
    background-color: transparent;
    border-radius: 50px;
  }

  // &:hover {
  //   &::-webkit-scrollbar-track {
  //     background-color: #ececec;
  //   }
  //   &::-webkit-scrollbar-thumb {
  //     background-color: #a8abae;
  //   }
  // }

  .msgThreadWrapper {
    display: flex;
    justify-content: flex-start;

    &.fromMe {
      justify-content: flex-end;
    }
  }

  .msgThreaBox {
    display: flex;
    flex-direction: column;
    gap: 4px;
    justify-content: flex-end;

    .msgBox {
      border-radius: 16px 16px 16px 0px;
      background-color: #e7e9f9;
      padding: 16px;
      max-width: 200px;

      @media (min-width: 992px) {
        max-width: 500px;
      }

      &.fromMe {
        background-color: $primaryColor;
        border-radius: 16px 16px 0px 16px;
      }

      .msgText {
        color: $mainTextColor;
        font-size: 14px;
        font-weight: 500;
        line-height: 20px;
        overflow-wrap: break-word;

        &.fromMe {
          color: $white;
        }
      }
    }

    .timeBox {
      display: flex;
      justify-content: flex-start;
      align-items: center;
      gap: 2px;

      &.fromMe {
        justify-content: flex-end;
      }

      .time {
        color: $grayTextColor;
        font-size: 10px;
        font-weight: 600;
        line-height: 14px;
      }
    }

    .attachBox {
      border-radius: 16px 16px 16px 0px;
      background-color: #e7e9f9;
      padding: 4px;
      max-width: 270px;

      &.fromMe {
        background-color: $primaryColor;
        border-radius: 16px 16px 0px 16px;
      }

      .msgText {
        color: $mainTextColor;
        font-size: 12px;
        font-weight: 500;
        line-height: 16px;
        overflow-wrap: break-word;

        &.fromMe {
          color: $white;
        }
      }
    }
  }
}

.receiptIcon {
  font-size: 12px;

  &.sent {
    color: $grayTextColor;
  }

  &.delivered {
    color: $grayTextColor;
  }

  &.read {
    color: #0baa60;
  }
}

.leftContainer {
  border-right: none;
  height: 100%;
  max-height: 80vh;

  &.noShow {
    display: none;
  }

  @media (min-width: 992px) {
    border-right: 1px solid $borderColor;
  }
}

.rightContainer {
  display: none;
  height: 100%;
  max-height: 80vh;

  &.show {
    display: block;
  }

  @media (min-width: 992px) {
    display: block;
  }
}

.hiddenContainer {
  height: 100%;
  max-height: 80vh;
  width: 100%;
  border-left: 1px solid $borderColor;
  transition: width 0.5s ease-in-out;
}

.infoTabWrapper {
  padding: 32px 24px 80px;
  height: 100%;
  max-height: 80vh;
  overflow: hidden;
  width: 100%;
  transition: width 0.5s ease-in-out;
}

.emptyContainer {
  height: 80vh;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  gap: 8px;
  padding: 32px;

  .iconBox {
    display: flex;
    justify-content: center;
    flex-direction: column;
    width: 80px;
    height: 80px;
    border-radius: 625px;
    background-color: $bgGrayColor;
    align-items: center;
  }

  h2 {
    color: $mainTextColor;
    font-size: 16px;
    font-weight: 600;
    line-height: 24px;
  }

  p {
    color: $midBlackColor;
    text-align: center;
    font-size: 14px;
    font-weight: 500;
    line-height: 20px;
  }
}

.emojiContainer {
  position: absolute;
  bottom: 10%;
  z-index: 2;
  display: none;

  @media (min-width: 992px) {
    bottom: 8%;
  }

  &.show {
    display: block;
  }
}

.emojiWrapper {
  height: 400px;
}

.fileInput {
  display: none;
}

.detailsContainer {
  display: flex;
  flex-direction: column;
  gap: 16px;
  position: relative;
  height: 100%;
  overflow-y: auto;
  scroll-behavior: smooth;

  &::-webkit-scrollbar {
    width: 4px;
  }
  &::-webkit-scrollbar-track {
    background-color: transparent;
  }
  &::-webkit-scrollbar-thumb {
    background-color: transparent;
    border-radius: 50px;
  }

  // &:hover {
  //   &::-webkit-scrollbar-track {
  //     background-color: #ececec;
  //   }
  //   &::-webkit-scrollbar-thumb {
  //     background-color: #a8abae;
  //   }
  // }

  .backArrowBtn {
    position: absolute;
    top: 0;
    left: 0;
    padding: 6px;
    border: 1px solid #ced4f2;
    background-color: #e7e9f9;
    box-shadow: 0px 1.5px 3px -1.5px rgba(17, 12, 34, 0.12);
    color: $primaryColor;
    border-radius: 6px;
  }
}

.profileWrapper {
  display: flex;
  flex-direction: column;
  justify-content: center;
  gap: 4px;
  align-items: center;

  .profileImg {
    margin: 0 auto;
    border-radius: 32px;
    object-fit: cover;
  }

  .nameBox {
    display: flex;
    gap: 4px;
    align-items: center;

    .iconBtn {
      padding: 0px;

      .verifiedIcon {
        width: 16px;
        height: 16px;
        color: #1c92ff;
      }
    }
  }

  h2 {
    text-align: center;
    color: $mainTextColor;
    font-size: 22px;
    font-weight: 700;
    line-height: 28px;
    letter-spacing: -0.22px;
    text-transform: capitalize;
  }

  .codeBox {
    background-color: $bgGrayColor;
    border: 1px solid $borderColor;
    text-align: center;
    border-radius: 100px;
    padding: 2px 8px;

    .code {
      color: $mainTextColor;
      font-size: 10px;
      font-weight: 600;
      line-height: 14px;
    }
  }

  h4 {
    color: $mainTextColor;
    font-size: 16px;
    font-weight: 600;
    line-height: 24px;
    text-transform: capitalize;
  }

  .socialWrapper {
    display: flex;
    gap: 4px;
    align-items: center;
    flex-wrap: wrap;
    justify-content: center;

    .socialBtn {
      background-color: #f2f4ff;
      padding: 8px;
      display: flex;
      justify-content: center;
      align-items: center;
    }
  }
}

.worthWrapper {
  display: flex;
  border-top: 1px solid $borderColor;
  border-bottom: 1px solid $borderColor;
  align-items: center;

  .worthBox {
    display: flex;
    padding: 12px 4px;
    flex-direction: column;
    border-left: 1px solid $borderColor;
    border-right: 1px solid $borderColor;
    justify-content: center;
    align-items: center;
    width: 100%;

    &.noBorder {
      border-left: none;
      border-right: none;
    }

    h2 {
      color: $primaryColor;
      font-size: 14px;
      font-weight: 600;
      line-height: 20px;
      text-align: center;
    }

    h4 {
      color: $grayTextColor;
      font-size: 12px;
      font-weight: 500;
      line-height: 16px;
      text-align: center;
    }
  }
}

.aboutContainer {
  display: flex;
  flex-direction: column;
  gap: 6px;

  .aboutText {
    color: #071754;
    font-size: 12px;
    line-height: 16px;
    font-weight: 600;
  }

  .about {
    color: $grayTextColor;
    font-size: 14px;
    font-weight: 500;
    line-height: 20px;
  }
}

.workPreferenceWrapper {
  display: flex;
  flex-direction: column;
  gap: 16px;
  position: relative;

  .miniBox {
    display: flex;
    align-items: center;
    gap: 8px;
  }

  .mainBox {
    display: flex;
    align-items: center;
    gap: 8px;

    svg {
      visibility: hidden;
    }
  }

  .jobTypeWrapper {
    display: flex;
    gap: 12px;
    width: 100%;
    align-items: stretch;

    svg {
      flex-shrink: 0;
    }

    .jobTypeBox {
      display: flex;
      flex-direction: column;
      gap: 8px;

      h4 {
        color: $midBlackColor;
        font-size: 14px;
        font-weight: 600;
        line-height: 20px;
      }
    }
  }
}

.chipBox {
  display: flex;
  gap: 4px;
  align-items: center;
  flex-wrap: wrap;

  .chip {
    padding: 4px 12px;
    border: 1px solid $borderColor;
    border-radius: 100px;
    background-color: $bgGrayColor;
    display: flex;
    align-items: center;
    gap: 4px;

    h6 {
      color: $midBlackColor;
      font-size: 12px;
      font-weight: 500;
      line-height: 16px;
      text-transform: capitalize;
    }
  }
}

.profileBtn {
  margin-top: 16px;
  border-radius: 8px;
  border: 1px solid #aeb7e9;
  background-color: #f2f4ff;
  box-shadow: 0px 1px 2px -1px rgba(17, 12, 34, 0.08);
  padding: 8px 12px;
  font-size: 14px;
  font-weight: 600;
  line-height: 20px;
  color: $primaryColor;
}

.ratingWrapper {
  display: flex;
  align-items: center;
  gap: 4px;

  .rating {
    font-size: 16px;
    .ratingStar {
      color: #e09400;
    }
  }

  .ratingText {
    color: $grayTextColor;
    font-size: 14px;
    font-weight: 500;
    line-height: 20px;
  }
}

.addressBox {
  padding: 12px 16px;
  display: flex;
  gap: 8px;
  background-color: $bgGrayColor;
  border-radius: 8px;
  flex-direction: column;

  .box {
    display: flex;
    align-items: center;
    gap: 8px;

    svg {
      color: $mainTextColor;
    }

    .text {
      font-size: 14px;
      color: $midBlackColor;
      font-weight: 600;
      line-height: 20px;
    }
  }
}

.locContainer {
  padding: 14px 0px;
  display: flex;
  align-items: center;
  border-top: 1px solid $borderColor;
  border-bottom: 1px solid $borderColor;
  gap: 16px;

  .locaBox {
    display: flex;
    flex-direction: column;
    gap: 4px;

    .locWrapper {
      display: flex;
      gap: 6px;
      align-items: center;

      svg {
        color: $midBlackColor;
        width: 16px;
        height: 16px;
      }

      .locText {
        color: $midBlackColor;
        font-size: 12px;
        font-weight: 600;
        line-height: 16px;
        text-transform: capitalize;

        span {
          text-transform: lowercase;
        }
      }
    }
  }
}

.requestTimeBox {
  display: flex;
  justify-content: flex-end;
}

.requestDetailBox {
  display: flex;
  gap: 4px;
  flex-direction: column;
  border: 12px;
  background-color: #f2f4ff;
  padding: 16px;
  border-radius: 0 12px 12px 12px;

  .aboutText {
    font-size: 14px;
    font-weight: 600;
    line-height: 18px;
    color: $mainTextColor;
  }

  .button {
    color: $primaryColor;
    background-color: $white;
    margin: 4px 0px;
    border-radius: 16px;
    text-transform: capitalize;
    width: fit-content;
    &:hover {
      background-color: #f2f4ff;
    }
  }

  .messageText {
    color: $grayTextColor;
    font-size: 12px;
    line-height: 16px;
    font-weight: 500;
  }
}

.requestInfo {
  padding: 16px;
  border: 2px solid #c6bbff;
  border-radius: 12px;
  display: flex;
  justify-content: space-between;
  align-items: center;

  .infoBox {
    display: flex;
    gap: 8px;
    align-items: center;

    svg {
      flex-shrink: 0;
      color: #7357ff;
      width: 16px;
      height: 16px;
    }

    .infoText {
      color: $midBlackColor;
      font-weight: 500;
      font-size: 14px;
    }
  }
}

.btnFooter {
  display: flex;
  gap: 8px;
  align-items: center;
  width: 100%;
  margin-top: 50px;

  .btn {
    padding: 8px 16px;
    border-radius: 8px;
    box-shadow: 0px 1px 2px -1px rgba(17, 12, 34, 0.08);
    font-weight: 600;
    width: 100%;

    @media (min-width: 768px) {
      width: fit-content;
    }

    &.error {
      color: #cf2a2a;
      border: 1px solid #cf2a2a;
    }
  }
}

.reviewBox {
  display: flex;
  padding: 24px;
  flex-direction: column;
  gap: 16px;

  .title {
    color: $mainTextColor;
    font-size: 18px;
    font-weight: 600;
  }

  .message {
    font-size: 14px;
    color: $midBlackColor;
    font-weight: 500;
  }

  .form {
    display: flex;
    flex-direction: column;
    gap: 8px;

    .textarea {
      border-radius: 12px;
      background-color: white;
      padding: 12px;
      margin-bottom: 34px;
      align-items: flex-start;
      color: $midBlackColor;
      font-weight: 500;
      font-size: 14px;
      border: 1px solid $borderColor;

      &::placeholder {
        color: $grayTextColor;
      }
    }
  }
}

.reviewBtn {
  padding: 8px 12px;
  border-radius: 8px;
  box-shadow: 0px 1px 2px -1px rgba(17, 12, 34, 0.08);
  font-weight: 600;
}

.successModal {
  width: 336px;
  background-color: $white;
  padding: 16px;
  border-radius: 16px;
  transition: 0.5s all;
  display: flex;
  flex-direction: column;
  gap: 16px;
  justify-content: center;
  align-items: center;

  @media (min-width: 768px) {
    width: 400px;
  }

  .text {
    color: $midBlackColor;
    font-size: 14px;
    font-weight: 500;
  }
}

.balloonBox {
  display: inline-flex;
  gap: 16px;
  align-items: center;
}
