@import '@/scss/main.scss';

.dialogContainer {
  display: none;

  @media (min-width: 1025px) {
    position: fixed;
    left: 14%;
    top: 50%;
    background-color: $white;
    display: flex;
    padding: 32px;
    gap: 16px;
    flex-direction: column;
    border-radius: 16px;
    border: 1px solid $borderColor;
    box-shadow: 0px 32px 32px -12px rgba(17, 12, 34, 0.12);
    animation-name: animateDialog;
    animation-duration: 0.5s;
    width: 350px;
    z-index: 10;
  }
}

.mobileContainer {
  background-color: $white;
  display: flex;
  // padding: 32px;
  gap: 16px;
  flex-direction: column;
}

.topBox {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
  padding: 16px;
}

.chip {
  padding: 4px 8px;
  text-align: center;
  border-radius: 8px;
  font-size: 12px;
  font-weight: 600;
  line-height: 16px;
  width: fit-content;

  &.incomplete {
    background-color: #f1eeff;
    color: #6347f4;
  }

  &.complete {
    background-color: #e2fcf0;
    color: #0a9c55;
  }
}

.closeBtn {
  background-color: $bgGrayColor;

  svg {
    width: 16px;
    height: 16px;
    color: $mainTextColor;
  }
}

.header {
  color: $mainTextColor;
  font-size: 22px;
  font-weight: 600;
  line-height: 28px;
  letter-spacing: -0.22px;
}

.checklistContainer {
  display: flex;
  flex-direction: column;
  width: 100%;
  gap: 16px;
}

.itemWrapper {
  display: flex;
  align-items: center;
  justify-content: space-between;

  .itemBox {
    display: flex;
    gap: 8px;
    align-items: center;

    .radioBox {
      width: 18px;
      height: 18px;
      border-radius: 50%;
      border: 1px solid #c6c5ca;
      display: flex;
      justify-content: center;
      align-items: center;
      flex-shrink: 0;

      &.completed {
        background-color: $primaryColor;
        border: 1px solid $primaryColor;

        svg {
          width: 14px;
          height: 14px;
          color: $white;
          flex-shrink: 0;
        }
      }
    }

    .itemNameBtn {
      padding: 0;
      text-align: left;
      color: $mainTextColor;
      font-size: 16px;
      font-weight: 500;
      line-height: 24px;
    }
  }

  .arrowBtn {
    padding: 0;
    cursor: pointer;

    &:hover {
      background-color: transparent;
    }

    svg {
      transform: rotate(180deg);
      width: 20px;
      height: 20px;
      color: $mainTextColor;
    }

    &.show {
      svg {
        transform: rotate(270deg);
      }
    }
  }
}

.contentWrapper {
  display: none;

  &.show {
    display: flex;
    flex-direction: column;
    padding: 8px 26px;
    gap: 8px;
    animation-name: slideDown;
    animation-duration: 0.4s;
  }

  .infoText {
    color: $midBlackColor;
    font-size: 14px;
    font-weight: 500;
    line-height: 20px;

    span {
      font-weight: 600;
    }
  }

  .btnGroup {
    display: flex;
    align-items: center;
    gap: 8px;
    justify-content: space-between;
  }

  .mainBtn {
    padding: 8px 10px;
    border-radius: 8px;
    border: 1px solid #aeb7e9;
    background-color: #f2f4ff;
    box-shadow: 0px 1px 2px -1px rgba(17, 12, 34, 0.08);
    font-size: 12px;
    font-weight: 600;
    line-height: 16px;
  }

  .auxBtn {
    color: $primaryColor;
    font-weight: 600;
    line-height: 16px;
    font-size: 12px;
  }
}

.formContainer {
  display: flex;
  flex-direction: column;
  gap: 16px;

  .btnBox {
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 16px;
    margin-top: 32px;

    &.smallMarginTop {
      margin-top: 0px;
    }

    .btn {
      width: 100%;
      box-shadow: none;
      padding: 10px 16px;
      border-radius: 8px;
      font-weight: 600;

      &.close {
        border: 1px solid #aeb7e9;
        background-color: #f2f4ff;
        color: #0c27be;
        font-weight: 600;
      }

      &.save {
        border: 1px solid #0c27be;
      }

      &.disabled {
        border: 1px solid $borderColor;
      }

      &.smallPadding {
        padding: 8px 12px;
      }
    }
  }

  .formGroup {
    display: flex;
    flex-direction: column;
    gap: 8px;

    .label {
      font-size: 14px;
      font-weight: 600;
      line-height: 20px;
      color: #4f4b5c;
    }
  }
}

@keyframes animateDialog {
  from {
    left: 0%;
    opacity: 0;
  }
  to {
    left: 14%;
    opacity: 1;
  }
}

@keyframes slideDown {
  from {
    top: -20px;
    opacity: 0;
  }
  to {
    top: 0;
    opacity: 1;
  }
}
