@import '@/scss/main.scss';

.country_select_root {
  // height: 38px;
  width: 100%;
  padding: 0 0.75rem 0 !important;
  border-radius: 0.5rem;
  border: none;
  box-shadow: none;

  div {
    top: 0px;
    bottom: 0;
    max-height: 38px !important;
    border-radius: 0.5rem;
    margin: 0 !important;
    @include d-flex($justify: center, $align: center);

    button {
      svg {
        font-size: 22px;
      }

      &:first-child {
        &:hover {
          display: none;
        }
      }
    }
  }

  .circular {
    margin-right: 2.5rem;
    line-height: 100%;
    color: $placeholder-color;
  }
}

.select_listbox {
  max-height: 222px !important;
  padding: 0 !important;
  flex-shrink: 0;
  border-radius: 0.5rem;

  img {
    width: 20px;
    height: 20px;
    margin-right: 0.5rem;
  }
}

.country_select {
  @extend .select_listbox;
}

.team_member_select {
  @extend .select_listbox;
  max-height: 150px !important;
}

.login_input {
  width: 100%;
  height: 42px !important;
  outline: none;
  font-size: 0.875rem;
  background: $input-backg;
  border: 1px solid rgb(15, 15, 13);
  box-shadow: none;
  border-radius: 0.5rem;

  input {
    @include d-flex(flex-start, center);
    height: 22px;
    color: $primary-color;
  }

  &:hover,
  &:active,
  &:focus {
    border-color: $primary-color;
  }

  &::placeholder {
    color: $placeholder-color;
  }
}

.employer_interview_select {
  @extend .select_listbox;
  height: 15 0px !important;
  max-width: 193px;
}

.employer_interview_input {
  @extend .login_input;
  height: 50px !important;

  input {
    font-size: 0.875rem;
  }

  input::placeholder {
    font-weight: 600;
    // color: $secondary-color;
    // opacity: 1;
  }
}

.interview_sort {
  @extend .select_listbox;
}

.interview_sort_input {
  @extend .login_input;

  input {
    width: 115px;
    font-size: 0.875rem;
  }

  input::placeholder {
    font-weight: 600;
    color: $secondary-color;
    opacity: 1;
  }
}
.profile {
  @extend .login_input;
  border-radius: 0.25rem !important;
}

.interview_reasons {
  @extend .select_listbox;
  border-radius: 0.25rem;
  background: $input-backg;
}
