.containerBox {
  position: fixed;
  width: 100%;
  padding-left: 0px;
  padding-right: 10px;
  z-index: 1302;
  overflow: visible;
  bottom: 0;
  right: 0;

  .chatHeader {
    display: flex;
    gap: 6px;
    justify-content: flex-start;
    flex-direction: row-reverse;
    align-items: flex-end;
    height: 0px;
    overflow: visible;
  }
}
