@import '@/scss/main.scss';

.fileInputContainer {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 180px;
  width: 100%;
  border-radius: 16px;
  border: 1px dashed #d9d8dc;
  flex-direction: column;
  gap: 4px;
  padding: 32px;
  transition: all 0.5s ease-in-out;

  &.active {
    background-color: #f2f4ff;
    border: 1px solid #aeb7e9;
  }

  &.disabled {
    pointer-events: none;
  }

  svg {
    width: 32px;
    height: 32px;
    color: $midBlackColor;
    flex-shrink: 0;
  }

  .text {
    color: $mainTextColor;
    text-align: center;
    font-size: 14px;
    font-weight: 500;
    line-height: 20px;
  }

  .browseBtn {
    color: $primaryColor;
    text-align: center;
    font-size: 14px;
    font-weight: 500;
    line-height: 20px;
    cursor: pointer;
  }

  .input {
    display: none;
  }

  .fileInfoBox {
    display: flex;
    justify-content: space-between;
    align-items: center;
    border-radius: 256px;
    border: 1px solid #ced4f2;
    padding: 8px 16px;
    background-color: $white;
    gap: 8px;

    .infoWrapper {
      display: flex;
      gap: 4px;
      align-items: center;

      svg {
        width: 14px;
        height: 14px;
        flex-shrink: 0;
        color: $mainTextColor;
      }

      span {
        font-size: 12px;
        font-weight: 500;
        line-height: 16px;
        color: $mainTextColor;
      }
    }

    .iconBtn {
      padding: 0;

      svg {
        width: 14px;
        height: 14px;
        flex-shrink: 0;
        color: $mainTextColor;
      }
    }
  }
}
