@import '@/scss/variables';

.dialog_paper {
  // width: 90%;
  padding: 0;
  margin: 0 auto;
}

.dialogPaper {
  border-radius: 16px;
  width: 94%;

  &.blackBg {
    background-color: #000000;
  }

  .dialogHeader {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 16px;

    .modalTitle {
      color: $mainTextColor;
      font-size: 18px;
      font-weight: 600;
      text-transform: capitalize;
      line-height: 24px;
    }

    .closeIcon {
      color: $mainTextColor;
      width: 32px;
      height: 32px;
    }
  }

}

.dialogContent {
  img {
    display: block;
    margin-left: auto;
    margin-right: auto;
    // width: 50%;
    // margin-bottom: 16px;
  }

  .deleteTitle {
    text-align: center;
    font-size: 22px;
    font-weight: 600;
    letter-spacing: -0.22px;
    line-height: 28px;
    color: #110c22;
    margin-bottom: 8px;
  }

  .deleteMessage {
    text-align: center;
    font-size: 14px;
    line-height: 20px;
    font-weight: 500;
    color: #4f4b5c;
  }
}

.btnBox {
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 16px;
  margin-top: 32px;

  .btn {
    width: 100%;
    box-shadow: none;
    padding: 10px 16px;
    border-radius: 8px;

    &.cancel {
      border: 1px solid #ffc7c7;
      background-color: #fff9f9;
      color: #cf2a2a;
      font-weight: 600;
    }

    &.save {
      border: 1px solid #0c27be;
    }
  }
}