@import '@/scss/main.scss';
.accordion {
  box-shadow: none;

  .accordionSummary {
    padding: 8px 0px;

    .summaryTitle {
      color: $mainTextColor;
      font-size: 16px;
      font-weight: 600;
      line-height: 24px;
    }
  }

  .accordionDetails {
    padding: 16px 0px;
  }
}
