@import '@/scss/main.scss';

.sidebar_container {
  height: 100%;
  box-shadow: 0 1px 3px rgba(0, 0, 0, 0.05), 0 -1px 0px rgba(0, 0, 0, 0.015);
  // .top_div_space {
  //   padding-top: 20px;
  //   padding-left: 16px;
  // }
}

.vaurse_logo {
  height: 60px;
  padding: 1rem;
}

.univ_profile {
  @include flex-column(center);
  padding: 1rem;
  text-align: center;

  &_logo {
    margin: 0 auto 1rem;

    img {
      object-fit: cover;
      border-radius: 0.625rem;
    }
  }

  &_name p {
    font-size: 1rem;
    line-height: 1.25rem;
    font-weight: 700;
    color: $black;
    text-transform: capitalize;
    color: $black;
    margin-bottom: 4px;
  }

  &_location {
    @include d-flex(flex-start, center);
    gap: 5px;
    max-width: 100%;
    margin: 0 auto;

    p {
      font-size: 0.875rem;
      font-weight: 500;
      line-height: 1.25rem;
      color: $black;
      white-space: wrap;
    }

    svg {
      font-size: 12px;
      color: $black;
    }
  }
}

.classes_container {
  padding: 1rem 1rem;
}

.classes_title_add_btn {
  @include d-flex(space-between, flex-start);
  height: 46px;

  .classes_title span {
    font-size: 0.875rem;
    line-height: 1rem;
    font-weight: 500;
    color: $black;
    margin: 0;
  }
}

.item {
  color: $primary-color;
  border-left: 3px solid transparent;
  transition: opacity 0.15s ease-in-out;
  margin: 6px 0;
  height: 26px;

  &_btn {
    // padding: 0.5625rem 0;
    // @include d-flex(space-between, flex-start);
    transition: opacity 0.15s ease-in-out;

    // &:hover,
    // &:focus {
    //   background-color: transparent;
    // }
  }

  &_icon {
    color: inherit;

    svg {
      font-size: 2.5rem;
      padding: 0.5625rem 0;
    }
  }

  &_label span {
    font-size: 0.875rem;
    line-height: 1.25rem;
    width: 500;
    padding: 0.5625rem 0;
    color: inherit;
  }

  &:hover {
    background-color: $bg-light-secondary;
    color: $secondary-color;
  }

  &.active {
    background-color: $bg-light-secondary;
    color: $light-secondary-color;
    border-left: 3px solid #5288f7;
  }
}

.footer {
  margin-top: auto;
  word-break: break-word; // break-all;
  white-space: pre-line;
}

.side_footer_parag {
  font-size: 0.75rem;
  line-height: 1rem;
  font-weight: 400;
  color: $icons-color;
  padding: 1.25rem;
  padding-right: 1rem;
}

@include media(992px) {
  .vaurse_logo {
    @include d-flex(center, stretch);
    height: 72px; //96px;
  }
}

@include media(1280px) {
  .vaurse_logo {
    height: 72px;
  }
}

// @include media(992px) {
//   .sidebar_container {
//     .top_div_space {
//       padding-top: 96px;
//     }
//   }
// }

// @include media(1480px) {
//   .sidebar_container {
//     .top_div_space {
//       padding-top: 60px;
//     }
//   }
// }

.searchInputWrapper {
  margin-top: -10px;
}
