.toastContainer {
  width: 343px;
  display: flex;
  align-items: center;
  gap: 16px;
  padding: 0px 16px;
  background-color: #020826;
  border-radius: 8px;
  box-shadow: 0px 8px 10px 0px rgba(0, 0, 0, 0.2),
    0px 6px 30px 0px rgba(0, 0, 0, 0.12), 0px 16px 24px 0px rgba(0, 0, 0, 0.14);

  .iconBox {
    display: flex;
    justify-content: center;
    padding: 8px;
    align-items: center;
    border-radius: 1000px;

    .icon {
      display: flex;
      padding: 4px;
      border-radius: 1000px;

      &.success {
        background-color: #0baa60;
      }

      &.error {
        background-color: #f03d3d;
      }
    }
  }

  .textBox {
    display: flex;
    flex-direction: column;
    gap: 4px;

    h4 {
      color: #fff;
      font-size: 16px;
      font-weight: 600;
      line-height: 24px;
      text-transform: capitalize;
    }

    p {
      color: #c8c5c5;
      font-size: 12px;
      font-weight: 500;
      line-height: 16px;
      text-transform: capitalize;
    }
  }
}
