.submitReview {
  position: sticky;
  top: 0;
  color: #071754;
  padding: 0.25rem;
  background-color: white;

  .cardWrapper {
    padding: 0px !important;
    .container {
      &Title {
        padding: 0.75rem 1.25rem;
        .title {
          font-size: 1rem;
          font-weight: 500;
        }
      }

      &Body {
        padding: 1.5rem;
        .description {
          font-size: 0.875rem;
          font-weight: 500;
        }
        button {
          font-size: 0.875rem;
          white-space: nowrap;
          margin-bottom: 0;
          padding: 0.375rem 0.75rem !important;
        }
      }
    }
  }
}
