@import '@/scss/main.scss';

.seeMoreBtn {
  display: flex;
  gap: 4px;
  align-items: center;
  cursor: pointer;

  p {
    color: $midBlackColor;
    font-weight: 600;
  }

  .arrowIcon {
    transform: rotate(0deg);
    transition: transform 0.1s linear;

    &.open {
      transform: rotate(180deg);
      transition: transform 0.1s linear;
    }
  }
}
