.paperContainer {
  background-color: #fff;
  box-shadow: 0px 16px 20px -8px rgba(17, 12, 34, 0.1);
  border-radius: 16px;
  padding: 24px 16px;
  display: flex;
  gap: 10px;
  border: 2px solid #ffc7c7;
  margin-top: 5px;
  justify-content: space-between;
  align-items: flex-start;

  svg {
    flex-shrink: 0;
  }

  .infoBox {
    display: flex;
    flex-direction: column;
    gap: 14px;
    position: relative;

    .infoTitle {
      color: #cf2a2a;
      font-size: 16px;
      font-weight: 700;
      line-height: 24px;
    }

    .infoContent {
      color: #4f4b5c;
      font-size: 14px;
      font-weight: 600;
      line-height: 20px;
    }
  }
}
