@import '@/scss/main.scss';

.header_right_btn {
  max-height: 35px;
  max-width: 35px;
  line-height: 100%;
  @include d-flex(center, center);
  cursor: pointer;
  padding: 0.5rem;
  border-radius: 50%;
  transition: all 0.2s ease-in-out;

  &:hover {
    background-color: #ffffff52;
  }
}

.nav_badge {
  span {
    width: 5px;
    height: 5px;
    background-color: #4aaa60;
    border-radius: 50%;
    min-width: 0px;
	padding: 0 !important;
    @include d-flex(center, center);
    // font-size: 0.65rem;
    // line-height: 1rem;
    // height: 1rem;
    // padding: 0.95rem;
    // min-height: auto;
    // font-weight: 700;
    // color: $white;
  }

  svg {
    color: $icons-color;
    font-size: 1.25rem;
  }
}

.aside_badge {
  span {
    @include d-flex(center, center);
    font-size: 0.65rem;
    line-height: 1rem;
    height: 1rem;
    padding: 0.95rem;
    min-width: auto;
    min-height: auto;
    font-weight: 400;
    color: #203ebf;
    background-color: #e7e9f9;
  }

  svg {
    color: $primary-color;
    font-size: 1.25rem;
  }
}

.aside_left_btn {
  margin: 0 0.5rem;
  line-height: 2.25rem;
}

// .aside_badge {
//   @extend .nav_badge;

//   svg {
//     color: $primary-color;
//   }
// }

.team_count {
  position: absolute;
  top: 20px;
  left: -25px;
  padding: 10px 15px;
  @include d-flex(center, center);
  @extend .header_right_btn;

  span {
    background-color: $light-secondary-color;
  }
}

.team_badge {
  @extend .nav_badge;
}
