@import '@/scss/main.scss';

.employment_status {
  label,
  span {
    font-size: 0.825rem;
    font-weight: 500;
    line-height: 1.125rem;
    color: $primary-color;
  }
}

.formControlLabel {
  font-size: 12px;
  font-weight: 500;
  color: #8d8a95;

  &.MuiStack-root {
    margin: 0 !important;
  }
}

.checkbox {
  &.MuiSvgIcon-root {
    font-size: 14px;
  }
}

.checkBox {
  color: $grayTextColor;
}

.labelText {
  text-transform: capitalize;
}
