@import '@/scss/main.scss';

.bannerWrapper {
  padding: 8px;
  display: flex;
  flex-direction: column;
  background-color: $white;
  border-radius: 16px;

  .bannerImg {
    width: 100%;
    border-radius: 16px;
    object-fit: cover;
    height: 180px;

    @media (min-width: 768px) {
      width: 100%;
      height: 280px;
    }

    @media (min-width: 1025px) {
      width: 100%;
      height: 380px;
    }
  }

  .logoBox {
    display: flex;
    flex-direction: column;
    padding: 16px 24px;
    gap: 16px;
  }

  .emBox {
    display: flex;
    align-items: center;
    margin-top: -15%;

    @media (min-width: 768px) {
      margin-top: -6%;
    }

    .emImgBox {
      width: 72px;
      height: 72px;
      display: flex;
      justify-content: center;
      border: 3px solid $white;
      border-radius: 12px;

      @media (min-width: 992px) {
        width: 104px;
        height: 104px;
      }

      .emImg {
        border-radius: 8px;
        object-fit: cover;
        width: 100%;
        height: 100%;
      }
    }
  }

  .emDetailBox {
    display: flex;
    flex-direction: column;
    gap: 8px;
    padding: 24px 0px;
    margin-top: -30px;

    .emTitleRateBox {
      display: flex;
      flex-direction: column;

      @media (min-width: 768px) {
        flex-direction: row;
        gap: 4px;
        align-items: center;
      }

      .rateBox {
        display: flex;
        align-items: center;
        gap: 4px;

        .rateText {
          font-size: 16px;
          color: #0a9c55;
          line-height: 21.6px;
        }

        .ratingStarFilled {
          font-size: 18px;
          color: #0a9c55;
        }

        .ratingStarEmpty {
          font-size: 18px;
        }
      }

      .emText {
        color: $mainTextColor;
        font-size: 18px;
        font-weight: 600;
        line-height: 24px;
        text-transform: capitalize;
      }
    }

    .itemContainer {
      display: flex;
      align-items: flex-start;
      justify-content: space-between;

      .items {
        display: flex;
        flex-direction: column;
        gap: 4px;

        @media (min-width: 768px) {
          flex-direction: row;
          align-items: center;
          gap: 16px;
        }
      }

      .itemBox {
        display: flex;
        flex-direction: column;
        gap: 4px;

        .item {
          display: flex;
          align-items: center;
          gap: 5px;

          svg {
            width: 20px;
            height: 20px;
            flex-shrink: 0;
            color: $midBlackColor;
          }

          .text {
            color: $midBlackColor;
            font-size: 14px;
            font-weight: 500;
            line-height: 20px;
            text-transform: capitalize;

            span {
              text-transform: lowercase;
            }
          }
        }
      }

      .followBox {
        display: flex;
        flex-direction: column;
        gap: 4px;

        .followersText {
          color: $primaryColor;
          font-size: 12px;
          font-weight: 500;
          line-height: 16px;
          padding: 0px;
          cursor: pointer;

          &:disabled {
            cursor: not-allowed;
          }
        }
      }
    }
  }
}

.followBtn {
  padding: 8px 10px;
  border-radius: 8px;
  box-shadow: 0px 1px 2px -1px rgba(17, 12, 34, 0.08);
  font-size: 12px;
  font-weight: 600;
  line-height: 16px;

  &.outline {
    border: 1px solid #aeb7e9;
    background-color: #f2f4ff;
    color: $primaryColor;
  }
}

.emInfoContainer {
  padding: 24px;
  display: flex;
  flex-direction: column;
  gap: 32px;
  background-color: $white;
  border-radius: 16px;

  .infoContainer {
    display: flex;
    flex-direction: column;
    gap: 16px;
  }
}

.titleText {
  color: $mainTextColor;
  font-size: 22px;
  font-weight: 600;
  line-height: 28px;
  letter-spacing: -0.22px;
  text-transform: capitalize;
}

.infoWrapper {
  display: flex;
  padding: 16px;
  gap: 16px;
  flex-direction: column;
  border: 1px solid $borderColor;
  border-radius: 16px;

  .infoItem {
    display: flex;
    align-items: center;
    gap: 8px;

    svg {
      width: 20px;
      height: 20px;
      color: $midBlackColor;
      flex-shrink: 0;
    }

    .text {
      color: $mainTextColor;
      font-size: 16px;
      font-weight: 500;
      line-height: 24px;
    }
    .aboutText {
      color: $midBlackColor;
      font-size: 14px;
      font-weight: 500;
      line-height: 20px;
    }
  }

  .socialBox {
    display: flex;
    flex-direction: column;
    gap: 4px;

    .socialText {
      color: $mainTextColor;
      font-weight: 500;
      font-size: 16px;
      line-height: 24px;
    }

    .socialWrapper {
      display: flex;
      align-items: center;

      .socialBtn {
        display: flex;
        justify-content: center;
        align-items: center;

        svg {
          width: 24px;
          height: 24px;
          color: $midBlackColor;
        }
      }
    }
  }
}

.emJobsContainer {
  display: flex;
  flex-direction: column;
  gap: 24px;
  padding: 16px;
  background-color: $white;
  border-radius: 16px;
}

.jobCard {
  padding: 16px;
  display: flex;
  flex-direction: column;
  gap: 16px;
  border-radius: 16px;
  border: 1px solid $borderColor;

  .titleBox {
    display: flex;
    justify-content: space-between;
    align-items: center;
  }

  .jobDescription {
    color: $midBlackColor;
    font-size: 16px;
    font-weight: 500;
    line-height: 24px;
  }
}

.freqChip {
  padding: 4px 8px;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 8px;
  flex-shrink: 0;

  .percentage {
    font-size: 12px;
    font-weight: 600;
    line-height: 16px;
  }

  &.error {
    background-color: #fff1f1;
    color: #cf2a2a;
  }

  &.success {
    background-color: #e2fcf0;
    color: #0a9c55;
  }

  &.warning {
    background-color: #fff5db;
    color: #d07d00;
  }
}

.salaryBox {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 8px;
  border-radius: 256px;
  background-color: $bgGrayColor;
  width: fit-content;
  padding: 8px 16px;

  .salary {
    color: $mainTextColor;
    font-size: 22px;
    font-weight: 700;
    line-height: 28px;
    letter-spacing: -0.22px;
  }

  span {
    color: $grayTextColor;
    font-size: 14px;
    font-weight: 500;
    line-height: 20px;
  }
}

.overviewWrapper {
  display: flex;
  flex-direction: column;
  gap: 16px;

  .aboutText {
    color: $midBlackColor;
    font-size: 14px;
    font-weight: 500;
    line-height: 20px;
  }
}

.galleryContainer {
  display: flex;
  flex-direction: column;
  gap: 32px;
  justify-content: center;
  position: relative;
}

.photoGallery {
  display: flex;
  flex-direction: column;
  gap: 16px;
  width: 100%;

  @media (min-width: 768px) {
    flex-direction: row;
  }
}

.column {
  display: flex;
  flex-direction: column;
  gap: 16px;
  width: 100%;
  overflow: hidden;

  .photo {
    border-radius: 16px;
    width: 100%;
    position: relative;

    img {
      width: 100%;
      height: 100%;
      object-fit: cover;
      border-radius: 16px;
    }

    .imageCaption {
      position: absolute;
      left: 24px;
      bottom: 20px;
      font-size: 14px;
      font-weight: 600;
      color: $white;
      line-height: 20px;
    }

    .overlay {
      position: absolute;
      top: 0;
      left: 0;
      width: 100%;
      height: 100%;
      border-radius: 16px;
      background: linear-gradient(
        90deg,
        rgba(17, 12, 34, 0) 18.25%,
        rgba(17, 12, 34, 0.4) 101.5%
      );
      background-blend-mode: multiply;
      cursor: pointer;
    }
  }
}

.loadMoreBtn {
  padding: 8px 12px;
  width: fit-content;
  margin: 0 auto;
  border-radius: 8px;
  border: 1px solid #aeb7e9;
  background-color: #f2f4ff;
  box-shadow: 0px 1px 2px -1px rgba(17, 12, 34, 0.08);
  font-size: 14px;
  font-weight: 600;
  line-height: 20px;
}

.modalTop {
  display: flex;
  justify-content: flex-end;
  align-items: center;
  width: 100%;
}

.closeBtn {
  background-color: transparent;
  svg {
    width: 16px;
    height: 16px;
    color: $white;
  }
}

.arrowsContainer {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100%;
  width: 100%;

  .arrowBtn {
    svg {
      color: $white;
      width: 42px;
      height: 42px;
    }
  }
}

.imgContainer {
  display: flex;
  flex-direction: column;
  gap: 16px;
  overflow: hidden;
  transition: opacity 0.5s ease;

  img {
    width: 100%;
    height: auto;
    object-fit: cover;
    border-radius: 16px;
    transition: opacity 0.5s ease;
  }

  .captionText {
    font-size: 18px;
    font-weight: 500;
    line-height: 24px;
    color: $white;
  }
}

.reviewsContainer {
  display: flex;
  flex-direction: column;
  gap: 32px;

  .btnContainer {
    .addReviewBtn {
      width: 100%;
      padding: 8px 12px;
      border-radius: 8px;
      box-shadow: 0px 1px 2px -1px rgba(17, 12, 34, 0.08);
      font-size: 14px;
      font-weight: 600;
      line-height: 20px;

      @media (min-width: 768px) {
        width: fit-content;
      }
    }

    @media (min-width: 768px) {
      display: flex;
      justify-content: flex-end;
    }
  }

  .mainContainer {
    display: flex;
    gap: 16px;
    flex-direction: column;

    .topBox {
      display: flex;
      gap: 12px;
      flex-direction: column;

      @media (min-width: 768px) {
        flex-direction: row;
        justify-content: space-between;
        align-items: center;
      }

      .rateBox {
        display: flex;
        gap: 12px;
        align-items: center;

        .ratingWrapper {
          display: flex;
          align-items: center;
          gap: 4px;

          .ratingStarFilled {
            font-size: 18px;
            color: #0a9c55;
          }

          .ratingStarEmpty {
            font-size: 18px;
          }
        }

        .rateText {
          font-size: 12px;
          color: $grayTextColor;
          line-height: 16px;
          font-weight: 500;
        }
      }
    }
  }
}

.sortBox {
  display: flex;
  align-items: center;
  gap: 12px;

  h6 {
    color: $grayTextColor;
    font-weight: 500;
    line-height: 16px;
    font-size: 12px;
  }

  .sortSelect {
    flex: 1;
  }
}

.emReviewCard {
  display: flex;
  padding: 16px;
  gap: 16px;
  flex-direction: column;
  border-radius: 16px;
  border: 1px solid $borderColor;

  .emStatusBox {
    padding: 4px 8px;
    border-radius: 8px;
    background-color: #f1eeff;
    color: #6347f4;
    text-align: center;
    font-size: 12px;
    font-weight: 600;
    line-height: 16px;
    width: fit-content;
  }

  .expressionWrapper {
    display: flex;
    flex-direction: column;
    gap: 4px;

    @media (min-width: 768px) {
      flex-direction: row;
      align-items: center;
      justify-content: space-between;
    }

    .reviewTitle {
      color: #0baa60;
      font-size: 18px;
      font-weight: 600;
      line-height: 24px;
    }

    .ratingWrapper {
      display: flex;
      flex-direction: column;
      gap: 4px;

      @media (min-width: 768px) {
        flex-direction: row;
        align-items: center;
      }
    }

    .periodText {
      color: $midBlackColor;
      font-size: 12px;
      font-weight: 500;
      line-height: 16px;
    }
  }

  .contentBox {
    display: flex;
    flex-direction: column;
    gap: 4px;

    .title {
      color: $mainTextColor;
      font-size: 16px;
      font-weight: 600;
      line-height: 24px;
    }
    .reviewText {
      color: $midBlackColor;
      font-size: 14px;
      font-weight: 500;
      line-height: 20px;
    }
  }

  .divider {
    width: 100%;
    border-bottom: 1px solid $borderColor;
  }

  .footerText {
    color: $midBlackColor;
    font-size: 12px;
    font-weight: 500;
    line-height: 16px;
  }
  .btnGroup {
    display: flex;
    align-items: center;
    justify-content: space-between;

    .subBtnGroup {
      flex: 1;
      display: flex;
      gap: 16px;
    }

    .btn {
      padding: 8px 10px;
      border-radius: 8px;
      box-shadow: 0px 1px 2px -1px rgba(17, 12, 34, 0.08);
      font-size: 12px;
      font-weight: 600;
      line-height: 16px;

      &.helpful {
        border: 1px solid #aeb7e9;
        background-color: #f2f4ff;
        color: $primaryColor;
      }
      &.helped {
        border: 1px solid $primaryColor;
        background-color: $primaryColor;
        color: $white;
      }

      &.reportBtn {
        border: 1px solid $borderColor;
        background-color: $white;
        color: $midBlackColor;
      }
    }

    .shareBtn {
      font-size: 12px;
      font-weight: 600;
      line-height: 16px;
      color: $primaryColor;
    }
  }
}

.ratingStarFilled {
  font-size: 24px;
  color: #0baa60;
}

.ratingStarEmpty {
  font-size: 24px;
}

.formContainer {
  display: flex;
  flex-direction: column;
  gap: 16px;

  .formGroup {
    display: flex;
    flex-direction: column;
    gap: 4px;

    .label {
      color: $midBlackColor;
      font-size: 12px;
      font-weight: 600;
      line-height: 16px;
    }

    .inputText {
      padding: 8px 10px;
      border-radius: 8px;
      width: 100%;
      border: 1px solid $borderColor;
      font-size: 14px;
      font-weight: 600;
      line-height: 20px;
      color: $midBlackColor;

      &:focus {
        outline: none;
      }
      &::placeholder {
        color: $grayTextColor;
      }
    }
  }

  .btn {
    width: 100%;
    box-shadow: none;
    padding: 10px 16px;
    border-radius: 8px;
    font-weight: 600;
    box-shadow: 0px 1px 2px -1px rgba(17, 12, 34, 0.08);
  }
}

.termsBox {
  display: flex;
  justify-content: space-between;
  align-items: center;

  .terms {
    font-size: 12px;
    font-weight: 500;
    color: #8d8a95;
    margin-top: 20px;

    span {
      color: #0c27be;
      font-weight: 700;
    }
  }
}

.employeesContainer {
  display: flex;
  gap: 16px;
  flex-direction: column;
}
