@import '@/scss/main.scss';

.tag_input_wrapper {
  display: flex;
  flex-wrap: wrap;
  padding: 5px 0;
  border: 1px solid #e5e5e5;
  min-height: 42px;
  border-radius: 6px;
  background-color: $input-backg;

  @media (min-width: 768px) {
    border-radius: 6px 0 0 6px;
  }

  width: 100%;
  .chipWrapper {
    display: flex;
    align-items: center;
    flex-wrap: wrap;
  }
  .tag_input {
    border: none;
    outline: none;
    padding: 5px 10px;
    font-size: 14px;
    color: #4c4b50;
    &::placeholder {
      color: #c8c8ca;
    }
    background-color: $input-backg;
  }
}
