.btn {
  padding: 8px 10px;
  border-radius: 8px;
  border: 1px solid #ececed;
  color: #4f4b5c;
  font-size: 12px;
  font-weight: 600;
}

.arrowBtn {
  padding: 0;
  width: 20px;

  svg {
    color: #4f4b5c;
    margin-left: -20px;
  }

  &:hover {
    background-color: #fff;
  }
}
