@import '@/scss/main.scss';

.profile_user_menu {

  ul {}

  li {
    font: 0.875rem;
    line-height: 1.25rem;
    color: $primary-color;
    margin-bottom: 2px;

    &:hover {
      background-color: $bg-hover;
    }
  }
}

.upgrade_pro {
  color: $white;
  background-color: $bg-success;
  font-size: 0.65rem;
  font-weight: 700;
  padding: 0.15rem 0.25rem;
  margin: 0 0.5rem;
  border-radius: 3px;
}