@import '@/scss/main.scss';

.root_popover {
  // background-color: red;
  overflow: auto;
}

.popover_verify_by {
  @include d-flex(center, center);
  padding-top: 0.875rem;
  background-color: transparent;
  box-shadow: none;
  border: none;

  &::before {
    content: '';
    position: absolute;
    top: 5px;
    left: 25%; // 50%
    transform: rotate(45deg);

    width: 18px;
    height: 18px;
    border-radius: 4px;
    background-color: $btn-save;
    // clipPath: polygon(50% 0%, 0% 100%, 100% 100%);
  }
}

.popover_hired_via {
  @extend .popover_verify_by;

  &::before {
    top: 10px;
    left: 55%;
    width: 15px;
    height: 15px;
    border-radius: 2px;
  }
}