@import '@/scss/main.scss';

.input {
  width: 100%;
  padding: 12px;
  border-radius: 8px;
  border: 1px solid $borderColor;
  font-size: 14px;
  color: $mainTextColor;
  font-weight: 600;

  &::placeholder {
    color: $grayTextColor;
    font-weight: 500;
  }

  &:focus {
    outline: none;
  }
}

.listBox {
  display: flex;
  align-items: center;
  gap: 8px;

  h4 {
    font-size: 12px;
    font-weight: 500;
  }

  svg {
    color: $primaryColor;
  }
}
