.counterNumberBox{
    display: inline-block;
    background-color: #5288f7 !important;
    color: #ffffff !important;
    border-radius: 10rem;
    padding: 0.25em 0.6em;
    font-size: 75%;
    font-weight: 700;
    line-height: 1;
    text-align: center;
    white-space: nowrap;
    vertical-align: baseline;
}