@import '@/scss/main.scss';

.header_container {
  max-width: 100%;
  width: 100%;
  height: 72px;
  background-color: $white;
  top: 0;
  z-index: 10;
  box-shadow: 0 1px 3px rgba(0, 0, 0, 0.05), 0 -1px 0px rgba(0, 0, 0, 0.015);

  .header_toolbar {
    background-color: transparent;
    height: 100%;
    max-width: 100%;
    width: 100%;
    padding: 0 1rem;
    @include d-flex(space-between, center);
    gap: 0.5rem;
    // flex-wrap: wrap;
  }

  .home_login_button {
    display: flex;
    align-items: center;
    gap: 5px;
  }
}

.app_logo_mobile {
  gap: 0.1rem;
  width: 32px;
  height: 29px;

  img {
    width: 100%;
    height: 100%;
    object-fit: cover;
  }
}

.app_burger {
  // font-size: 1.25rem;
  color: $icons-color;

  &:hover,
  &:active {
    background-color: transparent;
  }

  &.mobile {
    display: none;
  }
}

// ------------------------------Menu Links--------------------------

.nav_items {
  height: 100%;
  width: 100%;
  display: flex;
  align-items: center;
  gap: 5px;
  column-gap: 0rem !important;

  .nav_item {
    transition: all 0.3s ease-in-out;
    padding: 8px;

    a {
      text-decoration: none;
      font-size: 14px;
      line-height: 20px;
      font-weight: 500;
    }

    :hover {
      color: #0c27be !important;
    }

    &.active {
      color: #0c27be;
      background-color: #f2f4ff;
      border-radius: 8px;
    }
  }

  .btnLink {
    transition: all 0.3s ease-in-out;
    padding: 8px;
    text-decoration: none;
    font-size: 14px;
    line-height: 20px;
    font-weight: 500;
    color: $mainTextColor;

    &:hover {
      color: #0c27be;
      background-color: transparent;
    }

    &.active {
      color: #0c27be;
      background-color: #f2f4ff;
      border-radius: 8px;
    }
  }
}

// ------------------------------Right --------------------------

.wrapper {
  @include d-flex(center, center);
  flex-wrap: wrap;
  gap: 2px;
}

.nav_item_link {
  background-color: #f8f8f8;
  padding: 8px;
  color: #110c22;
  text-decoration: none;
  font-size: 14px;
  line-height: 20px;
  font-weight: 600;
  border-radius: 8px;

  :hover {
    color: #0c27be;
  }

  &.active {
    background-color: #f2f4ff;
    color: #0c27be;
  }
}

.nav_item_notifications {
  &:hover {
    .notifications {
      transition: visibility 2s ease-in-out;
      transition: opacity 0.5s ease-in-out;
      visibility: visible;
      opacity: 1;
      z-index: 10;
    }
  }
}

.nav_item_icon_link {
  transition: all 1s ease-in-out;

  &:hover {
    transition: all 1s ease-in-out;

    svg {
      color: #0c27be;
      fill: #0c27be;
    }
  }
}

.right_link_icons {
  @include d-flex(center, center);
  flex-wrap: nowrap;
  gap: 2px;

  .wallet_icon {
    width: 20px;
    height: 20px;

    img {
      width: 100%;
      height: 100%;
      object-fit: cover;
    }
  }

  // Uncomment this to show the language flag icon

  .flag_icon {
    display: none;
    width: 20px;
    height: 15px;

    img {
      width: 100%;
      height: 100%;
      object-fit: cover;
    }
  }

  // Uncomment this to show the bark mode icon

  .badge_btn {
    @include d-flex(center, center);
    display: none;
    height: 25px;
    width: 25px;
    cursor: pointer;
    padding: 0.5rem;
    // transition: all 0.2s ease-in-out;

    svg {
      opacity: 1;
      color: $icons-color;
      font-size: 1.25rem;
    }

    &:hover,
    &:active {
      background-color: transparent;

      svg {
        // font-size: 0.75rem;
        animation: icon-anim 0.3s alternate ease-in-out both;
      }
    }
  }
}

@keyframes icon-anim {
  0% {
    transform: scale(0.6);
    opacity: 0.65;
    filter: blur(1.9px);
  }

  100% {
    transform: scale(1);
    opacity: 1;
    filter: blur(0.5px);
  }
}

.user_info {
  @include d-flex(center, center);

  flex-wrap: nowrap;
  margin-left: 4px;
}

.user_name_welcom {
  // flex-shrink: 0;
  white-space: nowrap;
  color: $primary-color;
  margin-right: 4px;
  font-weight: 400;
  display: none;
  text-align: right;

  small {
    font-size: 0.75rem;
    line-height: 0.75rem;
    font-weight: 400;
    opacity: 0.65;
  }

  p {
    font-size: 0.875rem;
    line-height: 0.875rem;
  }
}

// .app_logo_desktop {
// }

@include media(640px) {
  .app_logo_mobile {
    display: none;
  }

  .app_logo_desktop {
    @include d-flex(center, center);
    gap: 0.1rem;
    height: 50px;

    .logo_img {
      width: 130px;
    }

    // Uncomment this to show the logo talent text
    span {
      display: none;
      font-weight: 300;
      color: $orange-color;
      font-size: 0.75rem;
      line-height: 1rem;
      margin: 5px 2px 0;
      letter-spacing: 0.6px;
    }
  }

  .nav_items.role_options {
    @include d-flex(center, center);
    min-width: 100px;
    flex-wrap: wrap;
    gap: 0.5rem 0.3rem;
    max-width: 320px;
  }
}

@include media(992px) {
  .app_logo_desktop {
    .logo_img {
      width: 110px;
      height: 60px;
    }

    // span {
    //   font-size: 0.65rem;
    //   line-height: 1rem;
    // }
  }

  .app_burger {
    &.mobile {
      display: none;
    }

    svg {
      font-size: 1.25rem;
    }
  }

  .nav_items {
    @include d-flex(center, center);
    min-width: 100px;
    flex-wrap: wrap;
    gap: 0.5rem 0.3rem;

    &.candidate_menu {
      // flex-wrap: nowrap;
      max-width: 500px;
    }

    &.role_options {
      max-width: 500px;
    }

    // &.univertity_menu {
    //   // justify-content: flex-start;
    //   // flex-shrink: 1;
    //   // flex-grow: 0;
    // }
  }

  .user_name_welcom {
    display: flex;
    flex-direction: column;
    justify-content: center;
  }
}

// @include media(1200px) {
//   // .nav_items {
//   //   flex-wrap: nowrap;
//   // }
// }

// Header Mobile

// .headerMobileContainer {
//   position: absolute;
//   height: 100vh;
//   background: white;
//   overflow: hidden;
//   transition: width 0.5s;
// }

.headerMobileContainer {
  display: block;
  transition: width 0.5s;
}

.row {
  align-items: center;
  justify-content: space-between;
}

.notifications {
  background: black;
  width: 350px;
  position: absolute;
  top: 100%;
  right: 5%;
  border-radius: 24px;
  background: #fff;
  box-shadow: 0px 16px 20px -8px rgba(17, 12, 34, 0.1);
  padding: 24px 16px;
  align-items: flex-start;
  gap: 8px;
  font-size: 10px !important;
  transition: all ease-in-out 0.5s;
  opacity: 0;
  visibility: hidden;

  .notificationMessageContainer {
    border-bottom: 1px solid #f3f3f4;
    font-size: 10px !important;

    p,
    div,
    button {
      font-size: 12px;
      gap: 5px;
    }
  }

  .notificationViewAllBtn {
    color: #8d8a95;
    text-align: center;
    font-size: 10px;
    font-style: normal;
    font-weight: 600;
    display: flex;
    padding: 15px 0px;
    align-self: center;
    width: 100%;
    justify-content: center;
    align-items: center;
    position: absolute;
    left: 0;
    bottom: 0;
    border-radius: 0 0 24px 24px;
    background: #fff;
    border-top: 1px solid #f3f3f4;
  }
}

.notificationOverflow {
  overflow-y: scroll;
  margin-bottom: 20px;
  overflow: auto;

  &::-webkit-scrollbar {
    width: 3px;
    height: 20px;
  }

  &::-webkit-scrollbar-thumb {
    // background-color: $secondary-color;
    height: 20vh;
    border-radius: 100vw;
  }
}

.drawerContainer {
  padding-top: 60px;
}

.menuContainer {
  display: flex;
  flex-direction: column;
  padding: 16px;

  .menuTitleBox {
    padding: 16px 8px;

    .menuTitle {
      font-size: 10px;
      font-weight: 500;
      line-height: 14px;
      color: #4f4b5c;
    }
  }

  .menuItem {
    padding: 8px;

    .headerMobileLink {
      font-size: 14px;
      font-weight: 500;
      line-height: 20px;
      color: #110c22;
    }
  }
}

.badgeDot {
  height: 7px;
  min-width: 7px;
  border-radius: 10px;
  border: 1px solid #fff;
  margin-top: 4px;
  filter: drop-shadow(0px 1px 2px rgba(17, 12, 34, 0.08));

  &.success {
    background-color: #0baa60;
  }

  &.danger {
    background-color: #cf2a2a;
  }
}

.textDot {
  height: 7px;
  min-width: 7px;
  border-radius: 10px;
  background-color: #0baa60;
  border: 1px solid #fff;
  margin-top: -2px;
  margin-right: -8px;
  filter: drop-shadow(0px 1px 2px rgba(17, 12, 34, 0.08));
}

.iconBtn {
  background-color: #f8f8f8;
}

.welcomeText {
  text-align: right;
}

@include media(1280px) {
  .header_container {
    .header_toolbar {
      padding: 0 1rem;
      gap: 0.5rem;
    }
  }

  .nav_items {
    @include d-flex(center, center);
    gap: 0.5rem;
  }

  .wrapper {
    flex-wrap: nowrap;
  }

  .headerMobileContainer {
    display: none;
  }
}

.profilePhoto {
  width: 36px;
  height: 36px;
  object-fit: cover;
  border-radius: 50%;
}
