.upload_box {
    height: 350px;
    border-width: 2px;
    border-radius: 8px;
    border: 1px dashed var(--black, #071754);
    background: #F8FAFB;
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;

    img {
        visibility: visible !important;
    }

    .cropped_img {
        visibility: visible !important;
        border-radius: 50%;
        border: 2px solid black;
    }
}

.retake_selfie {
    margin-top: 8px !important;
    width: 300px;
    padding: 9.972px 13.296px !important;
    display: flex !important;
    justify-content: center !important;
    align-items: center !important;
    gap: 8.31px !important;
    border-radius: 9.972px !important;
    border: 0.831px solid #CED4F2 !important;
    background: #F2F4FF !important;
    box-shadow: 0px 0.83102px 1.66205px -0.83102px rgba(17, 12, 34, 0.08) !important;
    color: #0C27BE !important;
    font-family: Inter;
}

.loading {
    width: 150px;
    height: 150px;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 50%;
    border: 2px solid black;
    background-color: rgba(17, 12, 34, 0.08);
}