.mainLandingWrapper {
  width: 100%;
  min-height: calc(100vh - 60px); /* Subtract header height */
  overflow: auto;
  
  &::-webkit-scrollbar {
    display: none;
  }

  @media (max-width: 767px) {
    overflow: auto;
  }

  @media (max-width: 567px) {
    overflow: auto;
  }
}
