.mainLandingWrapper {
  width: 100%;
  height: 100vh;
  overflow: scroll;
   &::-webkit-scrollbar {
    display: none;
  }

  @media (max-width: 767px) {
    overflow: auto;
  }

  @media (max-width: 567px) {
    overflow: auto;
  }
}
