@import '@/scss/main.scss';

// Alumni List --------------------------------------------------
.cart {
  height: 100%;
  width: 100%;
  max-height: 400px;
  padding: 16px;
  border-radius: 8px;
  background: white;
  box-shadow: 2px 4px 20px 0px rgba(0, 0, 0, 0.12);
  transition: all 0.2s ease-in-out;
  display: flex;
  flex-direction: column;

  &:hover {
    box-shadow: 2px 4px 20px 0px rgba(1, 2, 0, 0.24);
  }
}

.alumniItem {
  width: 100%;
  height: 100%;
}

.alumniItemImg {
  width: 100%;
  object-fit: cover;
  border-radius: 8px;
  border: 1px solid rgba(0, 0, 0, 0.2);
  // margin-bottom: 12px;
}

.alumniItemNameWrapper {
  display: flex;
  align-items: center;
  gap: 10px;
}

.alumniItemName {
  color: rgba(0, 0, 0, 0.98);
  font-size: 16px;
  font-weight: 600;
  text-transform: capitalize;
}

.alumniItemBadgePicture {
  width: 16px;
  height: 16px;
  object-fit: cover;
}

.alumniItemPos {
  color: #4f4b5c;
  font-size: 12px;
  font-weight: 500;
  line-height: 16px;
  text-transform: capitalize;
}

.alumniItemLoc {
  margin-bottom: 13px;
  gap: 5px;
  text-transform: capitalize;
}

.alumniItemLabel {
  color: rgba(17, 12, 34, 0.64);
  font-size: 11px;
  text-transform: capitalize;
}

.alumniItemCompany {
  color: #0a9c55;
  font-size: 11px;
  font-weight: 600;
  line-height: 16px;
  padding: 4px 8px;
  border-radius: 8px;
  background: #e2fcf0;
  text-transform: capitalize;
}

.alumniItemWork {
  color: rgba(17, 12, 34, 0.64);
  font-size: 11px;
  gap: 5px;
  text-transform: capitalize;
}

.alumniItemButton {
  border-radius: 8px;
  border: 1px solid #ced4f2;
  background: #f2f4ff;
  box-shadow: 0px 1px 2px -1px rgba(17, 12, 34, 0.08);
  color: #0c27be;
  font-size: 12px;
  font-weight: 600;
  line-height: 16px;
  text-transform: none;
  width: 100%;
  text-transform: capitalize;

  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: auto;
}

.alumni_company {
  @include d-flex(center, center);
  width: 103px;
  height: 28px;
  color: $bg-light-success;
  font-size: 11px;
  font-weight: 600;
  line-height: 16px;
  padding: 4px 8px;
  border-radius: 6px;
  background: #e2fcf0;
  text-transform: capitalize;
}

.alumniItemWork {
  color: rgba(17, 12, 34, 0.64);
  font-size: 11px;
  gap: 5px;
  text-transform: capitalize;
}

.alumniItemButton {
  border-radius: 8px;
  border: 1px solid #ced4f2;
  background: #f2f4ff;
  box-shadow: 0px 1px 2px -1px rgba(17, 12, 34, 0.08);
  color: #0c27be;
  font-size: 12px;
  font-weight: 600;
  line-height: 16px;
  text-transform: none;
  width: 100%;
  text-transform: capitalize;

  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: auto;
}

.networkCard {
  padding: 8px;
  display: flex;
  flex-direction: column;
  gap: 8px;
  border-radius: 16px;
  border: 1px solid $borderColor;

  img {
    width: 100px;
    height: 100px;
    object-fit: cover;
    border-radius: 50%;

    @media (min-width: 768px) {
      width: 150px;
      height: 150px;
    }
  }

  .topBox {
    display: flex;
    align-items: center;

    svg {
      width: 16px;
      height: 16px;
      color: #1c92ff;
      flex-shrink: 0;
    }

    .nameText {
      color: $mainTextColor;
      font-size: 16px;
      font-weight: 600;
      line-height: 24px;
      text-transform: capitalize;
      cursor: pointer;
    }
  }

  .iconTextBox {
    display: flex;
    align-items: center;
    gap: 8px;

    svg {
      flex-shrink: 0;
      width: 16px;
      height: 16px;
      color: $midBlackColor;
    }

    .text {
      color: $midBlackColor;
      font-size: 14px;
      font-weight: 500;
      line-height: 20px;
      text-transform: capitalize;
    }
  }

  .dividedBox {
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 4px;

    .companyBox {
      display: flex;
      justify-content: center;
      padding: 4px 8px;
      background-color: #e2fcf0;
      border-radius: 8px;
      width: fit-content;

      .companyName {
        color: #0a9c55;
        font-size: 12px;
        font-weight: 600;
        line-height: 16px;
        text-transform: capitalize;
      }
    }

    .durationBox {
      display: flex;
      align-items: center;
      gap: 8px;

      svg {
        flex-shrink: 0;
        width: 16px;
        height: 16px;
        color: $midBlackColor;
      }

      .durationText {
        color: $midBlackColor;
        font-size: 14px;
        font-weight: 500;
        line-height: 20px;
      }
    }
  }

  .btnGroup {
    display: flex;
    gap: 8px;
    align-items: center;

    .iconBtn {
      padding: 9px;
      border-radius: 8px;
      border: 1px solid #aeb7e9;
      background-color: #f2f4ff;
      flex-shrink: 0;
      box-shadow: 0px 1px 2px -1px rgba(17, 12, 34, 0.08);

      svg {
        width: 18px;
        height: 18px;
        color: $primaryColor;
      }
    }

    .connectBtn {
      color: $primaryColor;
      border-radius: 8px;
      padding: 8px 12px;
      border: 1px solid #aeb7e9;
      background-color: #f2f4ff;
      font-weight: 600;
      font-size: 14px;
      line-height: 20px;
      box-shadow: 0px 1px 2px -1px rgba(17, 12, 34, 0.08);
    }

    .messageBtn {
      padding: 8px 12px;
      border-radius: 8px;
      font-weight: 600;
      font-size: 14px;
      line-height: 20px;
      box-shadow: 0px 1px 2px -1px rgba(17, 12, 34, 0.08);
    }
  }
}
