.success {
  font-size: 12px;
  background-color: #e2fcf0;
  color: #0a9c55;
  border-color: #a6e9c8;
  border-width: 1px;
  border-style: solid;
}

.error,
.danger {
  font-size: 12px;
  background-color: #fff1f1;
  color: #cf2a2a;
  border-color: #ffe0e0;
  border-width: 1px;
  border-style: solid;
}

.warning {
  font-size: 12px;
  color: #d07d00;
  background-color: #fff5db;
}

.primary {
  font-size: 12px;
  color: #6347f4;
  background-color: #f1eeff;
}

.default {
  font-size: 12px;
  color: #676472;
  border-color: #e2e2e4;
  background-color: #ececed;
  border-width: 1px;
  border-style: solid;
}