@import '@/scss/main.scss';

// Parent --------------------------------------------------

.container {
  align-items: center;
  width: 100%;
  overflow-x: hidden;
}

.mainFilterMobile {
  background: #0c27be;
  position: fixed;
  bottom: 0;
  width: 100%;
  box-shadow: 0px 1px 2px -1px rgba(17, 12, 34, 0.08);
  color: #fff;
  font-size: 16px;
  font-weight: 600;
  padding: 12px 16px;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  gap: 10px;
}

.checkboxWrapper {
  display: flex;
  align-items: center;
  margin-left: 16px;
  padding-right: 9px;
  border: solid 1px #ECECED;
  border-radius: 8px;

  span {
    font-size: 16px;
    font-weight: 500;
    color: #110C22;
  }
}

.contentWrapper {
  background-color: #fff;
  border-radius: 16px;
  margin-top: 32px;
  padding: 16px;
}

// Shared --------------------------------------------------
.form {
  gap: 4px;
}

.formLabel {
  color: #4f4b5c;
  font-size: 12px;
  font-weight: 600;
  padding-left: 4px;
}

.formSelect {
  width: 100%;
  border-radius: 8px;
  background: #fff;
}

.noWrap {
  white-space: nowrap;
}

// Header --------------------------------------------------
.headerContainer {
  //   max-width: 1080px;
  width: 100%;
}

.headerRow {
  justify-content: space-between;
}

.headerImg {
  width: 40px;
  height: 40px;
  border-radius: 40px;
}
.headerImgRounded {
  position: relative;
  width: 40px;
  height: 40px;
  border: solid 3px #f7f8fa;
  border-radius: 40px;
  // box-shadow: 0px 2px 4px -2px rgba(17, 12, 34, 0.12);
}

.headerImgCountRounded {
  background-color: #e2e2e4;
  color: #4F4B5C;
  position: relative;
  right: 20px;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 40px;
  height: 40px;
  border: solid 3px #f7f8fa;
  border-radius: 32px;
  // box-shadow: 0px 2px 4px -2px rgba(17, 12, 34, 0.12);
}

.headerTitle {
  color: #071754;
  font-size: 19px;
  font-weight: 400;
  line-height: 24px;
}

.headerRightTitle {
  color: #071754;
  font-size: 16px;
  line-height: 24px;
}

.headerRightContainer {
  gap: 22px;
  justify-content: space-between;
}

.headerButton {
  background-color: #f2f4ff;
  border-radius: 100px;
  width: 28px;
  height: 28px;
  border: 0.2px solid #2b46d9;
}

.headerStatsContainer {
  background-color: #fff;
  margin-top: 20px;
  position: relative;
  overflow: hidden;
  border-radius: 16px;
  // gap: 100px;
}

.headerStatsMobileBox {
  justify-content: space-between;
  width: 100%;
}

.headerStatsLeftContainer {
  gap: 20px;
}

.headerStatsBoxes {
  gap: 12px;
  width: 100%;
}

.headerStatsBoxContainer {
  gap: 7px;
}

.headerStatsBox {
  width: 20px;
  height: 20px;
  border-radius: 4px;
}

.headerStatsBoxLabel {
  color: #4a4a4a;
  font-size: 11px;
  font-weight: 500;
  line-height: 17.143px;
}

.headerStatsRightContainer {
  justify-content: space-around;
  width: 100%;
}

.headerStatsRightItem {
  padding: 12px;
  align-items: center;
  border: solid 1px #ECECED;
  border-radius: 16px;

}

.headerStatsRightTitle {
  font-size: 32px;
  font-weight: 700;
}

.headerStatsRightTitleSmall {
  font-weight: 700;
}

.headerStatsRightSubtitle {
  color: #000;
  font-size: 11px;
  font-weight: 300;
}

.headerStatsCircle1 {
  width: 400px;
  height: 400px;
  background-color: white;
  border-radius: 100%;
  position: absolute;
  top: -140px;
  left: -115px;
  z-index: 0;
}

.headerStatsCircle2 {
  width: 400px;
  height: 400px;
  background-color: rgba(255, 255, 255, 0.6);
  border-radius: 100%;
  position: absolute;
  top: 0;
  z-index: 0;
  top: -140px;
  left: -20px;
}

// Tabs --------------------------------------------------
.tabsContainer {
  gap: 38px;
  width: 100%;
  //   max-width: 1080px;
}

.tab {
  font-size: 14px;
  text-align: center;
}

// Main --------------------------------------------------
.mainContainer {
  width: 100%;
  //   max-width: 1080px;
  background-color: white;
  align-items: flex-start;
  padding-top: 40px;
  margin-bottom: 46px;
}

// Filter --------------------------------------------------
.filterContainer {
  width: 100%;
  // overflow-y: scroll;
}

.filterTitle {
  color: #000;
  font-size: 16px;
  font-weight: 600;
}

.filterSubtitle {
  font-weight: 600;
}

.filterDateRow {
  justify-content: space-between;
  margin-top: 18px;
  gap: 8px;


}

.filterDateItem {
  gap: 8px;
}

.filterDateLabel {
  color: #4f4b5c;
  font-size: 12px;
  font-weight: 500;
}

.filterDateField {
  padding: 8px 12px;
  color: #4f4b5c;
  font-size: 14px;
  font-weight: 600;
  border-radius: 8px;
  border: 1px solid #ececed;
  background: #fff;
}

.filterFiltersContainer {
  gap: 16px;
  margin-top: 16px;
}

.filterButton {
  border-radius: 8px;
  border: 1px solid #ced4f2;
  background: #f2f4ff;
  box-shadow: 0px 1px 2px -1px rgba(17, 12, 34, 0.08);
  padding: 8px 12px;
  color: #0c27be;
  font-size: 14px;
  font-weight: 600;
}

.filterButtonMobile {
  background: #0c27be;
  box-shadow: 0px 1px 2px -1px rgba(17, 12, 34, 0.08);
  color: #fff;
  font-size: 16px;
  font-weight: 600;
  line-height: 24px;
  padding: 12px 16px;
  width: 100%;
  position: absolute;
  bottom: 0;
}

// List --------------------------------------------------
.listContainer {
  width: 100%;
}

.listHeader {
  justify-content: space-between;
  padding-right: 16px;
  padding-left: 16px;
  gap: 0px;
  flex-wrap: wrap;
  gap: 12px;
}

.listHeaderTitle {
  color: #071754;
  font-size: 19px;
  font-weight: 500;
  line-height: 24px;
}

.listHeaderInput {
  max-width: 300px;
  width: 100%;
  gap: 14px;
  border-radius: 10px;
  //   background: rgba(118, 118, 128, 0.08);
}

.listHeaderInputText {
  font-size: 17px;
}

.listHeaderSort {
  color: #110c22;
  font-size: 14px;
  font-weight: 500;
}

.listHeaderSortSelect {
  border-radius: 8px;
}

.listHeaderSortSelectText {
  color: var(--text);
  font-size: 12px;
  font-weight: 600;
  display: inline;
  max-width: 50%;
}

.listTableTitle {
  color: #110c22;
  font-weight: 400;
  // background: rgb(231, 233, 249);
}

.listTableLabel {
  color: #110c22;
  font-size: 12px;
}

.listTableLabelGPA {
  color: #110c22;
  font-size: 12px;
  text-align: center;
}

.listTableVerifyButton {
  padding: 4px 8px;
  font-size: 10px;
  font-weight: 600;
  border-radius: 6px;
  box-shadow: 0px 2px 4px -2px rgba(17, 12, 34, 0.12);
  width: 52px;
}

.listTableDeleteButton {
  font-size: 10px;
}

// Verification Details --------------------------------------------------
.verifyDetailsContainer {
  background: #fff;
  box-shadow: 0px 1px 2px -1px rgba(17, 12, 34, 0.08);
  max-width: unset;
  width: min(730px, 100vw);
  outline: none;
  overflow: auto;
}

.verifyDetailsInnerContainer {
  display: flex;
  flex-direction: column;

  .filterDateItem {
    border-radius: 8px;
    background: #f1eeff;
    color: #4f4b5c;
    font-weight: 500;
  }
}

.verifyDetailsCancelButton {
  width: 100%;
}

.verifyDetailsHeader {
  width: 100%;
  justify-content: space-between;
}

.verifyDetailsTitle {
  color: #110c22;
  font-weight: 600;
  text-transform: capitalize;
  position: relative;

  &::before {
    content: '';
    position: absolute;
    width: 50%;
    height: 1px;
    background: #000;
    bottom: -10px;
    left: 0;
  }
}

.verifyDetailsEditButton {
  border-radius: 5px;
  border: 1px solid #e2dcff;
  background: #f1eeff;
  color: #6347f4;
  font-weight: 600;
  display: flex;
  align-items: center;
  justify-content: center;
}

.verifyDetailsSaveButton {
  border-radius: 12px;
  background: #0c27be;
  box-shadow: 0px 1px 2px -1px rgba(17, 12, 34, 0.08);
  color: #fff;
  font-weight: 600;
}

.verifyDetailsRightContainer {
  width: 100%;
  justify-content: space-between;
  display: flex;
  align-items: center;
}

.verifyDetailsLabel {
  font-weight: 500;
  min-width: 120px;
}

.verifyDetailsErrorLabel {
  color: red;
  font-size: 12px;
  font-weight: 500;
}

.verifyDetailsInput {
  border-radius: 8px;
  border: 1px solid #ececed;
  background: #f1eeff;
  padding: 0px;
  padding: 8px 12px;
  color: #4f4b5c;
  font-size: 14px;
  font-weight: 500;
}

.verifyDetailsInput::before {
  border-bottom: none !important;
}

.verifyDetailsInput>input {
  padding: 0px !important;
}

.verifyDetailsCheckbox {
  width: 32px;
  height: 32px;
  border-radius: 6px;
  border: none !important;
}

.verifyDetailsLabelInfoContainer {
  align-items: center;
  padding-bottom: 50px;
}

.verifyDetailsLabelInfoInnerContainer {
  width: 100%;
  // left: -20px;
  // position: relative;
  gap: 26px;
}

.verifyDetailsLabelInfoLabel1 {
  color: #cf2a2a;
  font-weight: 500;
  line-height: 24px;
  grid-column: span 2;
  // text-align: justify;
  padding: 24px 24px 0px 24px;
  border: solid 2px #FFC7C7;
  border-radius: 16px;
}

.verifyDetailsLabelInfo2 {
  font-size: 14px;
  font-weight: 500;
}

.verifyDetailsSubmitButton {
  padding: 16px;
  font-size: 18px;
  font-weight: 600;
  bottom: 0;
  left: 0;
}

.verifyDetailsMobileContainer {
  position: fixed;
  height: 100vh;
  width: 100%;
  z-index: 50;
  top: 0;
  left: 0;
  border-radius: 0px;
}

.verifyDetailsMobileHeader {
  gap: 34px;
  max-lines: 1;
  align-items: center;
  color: #110c22;
  font-size: 18px;
  font-weight: 600;
}

// Decline Details --------------------------------------------------
.declineDetailsContainer {
  width: 100%;
  background-color: white;
  padding-bottom: 56px;
}

.declineDetailsSubTitle {
  color: #4f4b5c;
  font-size: 14px;
  font-weight: 600;
  padding-left: 4px;
  padding-bottom: 8px;
}

.declineDetailsTextArea {
  border-radius: 12px;
  border: 1px solid #ececed;
  background-color: white;
  padding: 16px;
  height: 200px;
  margin-bottom: 34px;
  align-items: flex-start;
}

.declineDetailsTextArea::before {
  border-bottom: none !important;
}

.declineDetailsTextArea>input {
  padding: 0px !important;
}

.declineDetailsButton {
  font-size: 18px;
  font-weight: 600;
  box-shadow: 0px 1px 2px -1px rgba(17, 12, 34, 0.08);
  padding: 16px;
  bottom: 0;
  left: 0;
}

// More Options --------------------------------------------------
.moreOptionsContainer {
  max-width: 500px;
  width: 100%;
  background-color: white;
  border-radius: 16px;
}

.moreOptionsHeader {
  justify-content: space-between;
  padding: 16px 32px;
  gap: 8px;
  border-bottom: 1px solid #f3f3f4;
}

.moreOptionsTitle {
  color: #110c22;
  font-size: 18px;
  font-weight: 600;
}

.moreOptionsRow {
  width: 100%;
  padding: 16px 32px;
  display: flex;
  gap: 11px;
  align-items: center;
}

.moreOptionsLabel {
  font-size: 16px;
  font-weight: 500;
}

// Settings --------------------------------------------------
.settingsContainer {
  width: 100%;
  top: 0;
  left: 0;
  z-index: 20;
  transition: all 0.5s;
}

.settingsTitle {
  color: #000;
  font-size: 22px;
  font-weight: 500;
}

.settingsSubtitle {
  color: black;
  font-size: 14px;
  font-weight: 500;
}

.settingsLabel {
  font-size: 14px;
  font-weight: 600;
  color: #4f4b5c;
}

.settingsSelect {
  padding: 0px;
  width: 360px;
  color: #110c22;
  font-size: 16px;
  font-weight: 600;
  border-radius: 12px;
  border: 1px solid transparent;

  background: #fff;

  &:hover {
    outline: 1px solid #ececed;
  }
}

.settingSmarlLine {
  height: 2px;
  width: 360px;
  background-color: black;
}

.settingBtn {
  display: flex;
  padding: 12px 16px;
  justify-content: center;
  align-items: center;
  gap: 10px;
  margin: 0px 8px;
  border-radius: 12px;
  border: 1px solid #c6c5ca;
  background: #e2e2e4;
  color: #c6c5ca;
}

.settingApplyBtn {
  @extend .settingBtn;
  width: 162px;
  margin: 90px 0 40px 0;
  background-color: #0c27be;
}

@import '@/scss/main.scss';

.success_page {
  width: 100%;
}

.success_section {
  width: 90%;
  padding: 2rem auto;
  margin: 120px auto 1rem;
  border-radius: 0.75rem;
  box-shadow: 0 2.7px 5.4px 0 rgba(0, 0, 0, 0.28);

  .success_container {
    width: 100%;
    max-width: 740px;
    padding: 1rem;
    margin: 2rem auto;
    text-align: center;
    color: $primary-color;
  }
}

.success_img {
  width: 48px;
  height: 48px;
  margin-bottom: 16px;
  border-radius: 48px;
}

.success_title {
  font-size: 22px;
  text-align: center;
  line-height: 28px;
  font-weight: 600;
  margin-bottom: 8px;
}

.sucess_paragr {
  font-size: 1.25rem;
  line-height: 3rem;
  font-weight: 600;
}

@include media(480px) {
  .success_section {
    max-width: 1280px;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    margin-top: 60px;

    .success_container {
      width: 100%;
      max-width: 740px;
      padding: 1rem 2rem 2rem;
      margin: 2rem auto;
      text-align: center;
      color: $primary-color;
    }
  }
}

.verificationSuccContainer {
  background-color: white;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: 100%;
  max-height: 100vh;
  overflow-y: scroll;
}

.title {
  color: #110c22;
  font-size: 25px;
  font-style: normal;
  font-weight: 600;
  line-height: 24px;
  /* 75% */
  text-transform: capitalize;
  padding: 30px;
}

.message {
  font-size: 16px;
  font-weight: 500;
  color: #110C22;
  text-align: center;
  line-height: 24px;
  width: 70%;
}

.viewButton {
  border-radius: 12px;
  background: #0c27be;
  box-shadow: 0px 1px 2px -1px rgba(17, 12, 34, 0.08);
  display: flex;
  min-width: min(232px, 100%);
  padding: 8px 10px;
  justify-content: center;
  align-items: center;
  gap: 12px;
  font-size: 12px;
  font-style: normal;
  font-weight: 600;
  line-height: 20px;
  color: white;
  margin: 0 0 4px 0;
}

.recomHeading {
  color: #110c22;
  font-size: 32px;
  font-style: normal;
  font-weight: 600;
  line-height: 24px;
  /* 75% */
  text-transform: capitalize;
}

.recomButton {
  color: #2b46d9;
  font-size: 12px;
  font-style: normal;
  font-weight: 600;
  line-height: 16px;
  padding: 8px 10px;
  min-width: min(232px, 100%);
  /* 133.333% */
}

.recommForm {
  display: flex;
  justify-content: flex-start;
  flex-direction: row;
  margin: 80px 0 0 0;
  align-items: flex-start;
}

.recomTittle {
  @extend .declineDetailsTextArea;
  color: #000;
  /* web / font_primary / title 1 / medium */
  font-size: 18px;
  font-style: normal;
  font-weight: 500;
  line-height: 20px;
  /* 133.333% */
}

.recomText {
  width: 40%;
  color: #000;
  /* web / font_primary / title 1 / medium */
  font-size: 18px;
  font-style: normal;
  font-weight: 500;
  line-height: 24px;
  /* 133.333% */
  margin: 13px 0;
}

.recomInput {
  @extend .declineDetailsTextArea;
  border-radius: 8px;
  border: 2px solid #ececed;
  width: 100%;
  height: 350px;
  color: #4f4b5c;
}

.inputContainer {
  width: 100%;
  display: flex;
  flex-direction: column;
}

.input_select {
  flex: 1;
  max-width: 350px;
  width: 100%;
}

.selectedTeam {
  .cancelTeam {
    display: none;
  }

  &:hover {
    .cancelTeam {
      display: block;
    }

  }

}

.loadMoreBtn {
  display: flex;
  width: 274px;
  padding: 16px;
  justify-content: center;
  align-items: center;
  gap: 12px;
  border-radius: 12px;
  border: 1px solid #e2dcff;
  background: #f1eeff;
  color: #6347F4;
  font-size: 18px;
  font-style: normal;
  font-weight: 600;
  line-height: 24px;
  margin: 30px 0;

}

.addTeam {
  position: absolute;
  display: none;
  z-index: 100;
  width: 500px;
  right: 0;
  top: 100%;
  border-radius: 24px;
  background: #fff;
  box-shadow: 0px 16px 20px -8px rgba(17, 12, 34, 0.1);
  padding: 24px 16px;

  .addButton {
    padding: 0.5rem;
    border-radius: 0.625rem;
  }

}

.teamSkeleton {
  border-radius: 32px;
  box-shadow: 0px 2px 4px -2px rgba(17, 12, 34, 0.12);
  width: 32px;
  height: 45px;
}

.amountSelect {



  &>div:first-child {
    height: 45px;
    padding: 0;
    border-radius: 12px;
    // background-color: #f7f8fa;
    border: 1px solid #ececed;
    // padding: 22px 0;
    display: flex;
    align-items: center;

    &:hover {
      border: 1px solid #ececed !important;
    }

    input {
      padding-left: 15px;

    }
  }

  fieldset {
    border: none,
  }
}

.currencySelect {
  width: 200px;
  height: 42px;
}

.viewBlockchain {
  max-width: 200px;
  @include flex-column (center);
  justify-content: center;
  text-align: center;
  color: $white;
  font-size: 12px;
  font-weight: 500;
  line-height: 16px;

  a {
    color: #667dff;
  }
}

.dropdownWrapper {
  position: relative;
  right: 20px;
  display: flex;
  align-items: center;

  > svg {
    cursor: pointer;
  }


  &:focus {
    .remainingTeam {
      transition: visibility 2s ease-in-out;
      transition: opacity 0.5s ease-in-out;
      visibility: visible;
      opacity: 1;
      z-index: 10;
    }
  }
  .remainingTeam {
    width: 220px;
    position: absolute;
    top: calc(100% + 8px);
    right: 5%;
    border-radius: 24px;
    background: #fff;
    box-shadow: 0px 16px 20px -8px rgba(17, 12, 34, 0.1);
    padding: 24px 16px;
    align-items: flex-start;
    gap: 8px;
    font-size: 10px !important;
    transition: all ease-in-out 0.5s;
    opacity: 0;
    visibility: hidden;

      > div {
        display: flex;
        align-items: center;
        padding: 4px 0px;

        img {
          margin-right: 16px;
        }

        h5 {
          font-weight: 500;
          font-size: 14px;
          line-height: 20px;
          color: #110C22;
        }
      }

  }
}


.descText {
  font-weight: 500;
  font-size: 14px;
  line-height: 20px;
}



.teamDeleteIcon {
  background-color: #FFF1F1;
  cursor: pointer;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 32px;
  height: 32px;
  border-radius: 32px;
  border: solid 1px #FFC7C7;
}



.veSuccessModalHeading {
  flex: 1;
  font-weight: 600;
  font-size: 18px;
  color: #110C22;
  line-height: 24px;
}


