.date_container {
  width: 100%;

  & > div {
    width: 100%;
  }
}

.date_picker {
  height: 40px;
  width: 100% !important;
  padding: 10px 0 10px 40px;
  border-radius: 8px;
  border: 1px solid #ececec;
  color: var(--text);

  &:focus {
    outline: none;
  }
}
