.dialogPaper {
  border-radius: 16px;
}

.dialogContent {
  display: flex;
  justify-content: center;
  flex-direction: column;

  img {
    display: block;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 0 !important;
  }

  .deleteTitle {
    text-align: center;
    font-size: 22px;
    font-weight: 600;
    letter-spacing: -0.22px;
    line-height: 28px;
    color: #110c22;
    margin-bottom: 8px;
  }

  .deleteMessage {
    text-align: center;
    font-size: 14px;
    line-height: 20px;
    font-weight: 500;
    color: #4f4b5c;
  }

  .description {
    text-align: center;
    font-size: 12px;
    line-height: 16px;
    font-weight: 600;
    color: #4f4b5c;
  }
}

.btnBox {
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 16px;
  margin-top: 32px;

  .btn {
    width: 100%;
    box-shadow: none;
    padding: 10px 16px;
    border-radius: 8px;

    &.cancel {
      border: 1px solid #ffc7c7;
      background-color: #fff9f9;
      color: #cf2a2a;
      font-weight: 600;
    }

    &.save {
      border: 1px solid #0c27be;
    }
  }
}
